.comment-dark {
color: #7f8c8d;
}

.html-doctype-dark {
color: #ffff00;
}

.html-bracket-dark, .html-close-dark {
color: #ff79c6;
}

.html-tag-dark {
color: #00ffe0;
}

.html-attribute-dark {
color: #ffb86c;
}

.html-attributeEquals-dark {
color: white;
}

.html-attributeValue-dark {
color: #8be9fd;
}

.css-selector-dark {
color: #bd93f9;
}

.css-delimiter-dark {
color: #ffc0cb;
}

.css-property-dark {
color: #50fa7b;
}

.css-propertyValue-dark {
color: #f1fa8c;
}

.javascript-string-dark {
color: #a8ff60;
}

.javascript-keyword-dark {
color: #ff5555;
}

.javascript-number-dark {
color: #bd93f9;
}

.javascript-property-dark {
color: #00d4ff;
}

.javascript-templateBrace-dark {
color: #8be9fd;
}

.javascript-templateExpression-dark {
color: white;
}

.javascript-regularExpression-dark {
color: #ff79c6;
}

.comment-light {
color: #6E7B8B;
}

.html-doctype-light {
color: #005A66;
}

.html-bracket-light, .html-close-light {
color: #0078ff;
}

.html-tag-light {
color: #b38f00;
}

.html-attribute-light {
color: #a000ff;
}

.html-attributeEquals-light {
color: black;
}

.html-attributeValue-light {
color: #00D68F;
}

.css-selector-light {
color: #3a8f00;
}

.css-delimiter-light {
color: #004f9f;
}

.css-property-light {
color: #cc00ff;
}

.css-propertyValue-light {
color: #ff0090;
}

.javascript-string-light {
color: #009f00;
}

.javascript-keyword-light {
color: #FF0000;
}

.javascript-number-light {
color: #5b00ff;
}

.javascript-property-light {
color: #ff6f00;
}

.javascript-templateBrace-light {
color: #00D68F;
}

.javascript-templateExpression-light {
color: black;
}

.javascript-regularExpression-light {
color: #0078ff;
}
