.comment-light {
color: #6e6e6e;
}

.html-doctype-light {
color: #0033cc;
}

.html-bracket-light, .html-close-light {
color: #b72bad;
}

.html-tag-light {
color: #008c9e;
}

.html-attribute-light {
color: #ff7f2a;
}

.html-attributeEquals-light {
color: black;
}

.html-attributeValue-light {
color: #005fcf;
}

.css-selector-light {
color: #8a2be2;
}

.css-delimiter-light {
color: #e57373;
}

.css-property-light {
color: #2e8b57;
}

.css-propertyValue-light {
color: #c59e00;
}

.javascript-string-light {
color: #228b22;
}

.javascript-keyword-light {
color: #d50000;
}

.javascript-number-light {
color: #673ab7;
}

.javascript-property-light {
color: #0081a7;
}

.javascript-regularExpression-light {
color: #b72bad;
}

.comment-dark {
color: #7f8c8d;
}

.html-doctype-dark {
color: #ffff00;
}

.html-bracket-dark, .html-close-dark {
color: #ff79c6;
}

.html-tag-dark {
color: #00ffe0;
}

.html-attribute-dark {
color: #ffb86c;
}

.html-attributeEquals-dark {
color: white;
}

.html-attributeValue-dark {
color: #8be9fd;
}

.css-selector-dark {
color: #bd93f9;
}

.css-delimiter-dark {
color: #ffc0cb;
}

.css-property-dark {
color: #50fa7b;
}

.css-propertyValue-dark {
color: #f1fa8c;
}

.javascript-string-dark {
color: #a8ff60;
}

.javascript-keyword-dark {
color: #ff5555;
}

.javascript-number-dark {
color: #bd93f9;
}

.javascript-property-dark {
color: #00d4ff;
}

.javascript-regularExpression-dark {
color: #ff79c6;
}
